[submodule "mesaYa_frontend"]
	path = mesaYa_frontend
	url = https://github.com/StevSant/mesaYa_frontend.git
[submodule "mesaYA_frontend"]
	path = mesaYA_frontend
	url = https://github.com/StevSant/mesaYa_frontend.git
